@import url('https://fonts.googleapis.com/css?family=Exo+2:300i,400,400i,500
,
500i);

/*----------------------NavBar */

.nav-container {
 position: fixed;
 top: 0;
 left: 0;
 padding-left: 0;
 padding-right: 0;
}

.navbar {
    margin-bottom: 0;
    border: 0;
    width: 100%;
    background-color: rgba(20,54,61,1);
    z-index: 1;
    text-align: center
   
}



/*-------------------- Body Containers */

.callout-container {
    height: 90vh;
    background: url("../photos/Cormac.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
    
    
    
}

/*----------------------General Fonts, paddings and special characters */

a {
    color: white;
    font-weight: 500;
    font-family: 'Quattrocento', serif;
}


body {
    font-family: "Exo 2", sans-serif;
}

#quotes h2 p {
    text-align: center;
}

.blockquote {
    text-align: center;
}

@media (max-width: 999px) {
    .mobile-hidden {
        display: none;
    }

}

.jumbotron {
    background: transparent;
}

.jumbotron-header {
    font-family: 'Quattrocento', serif;
    color: white;
    letter-spacing: 5px;
    font-size: 72px;
}

.jumbotron-text {
    color: white;
    font-family: 'Quattrocento', serif;
    letter-spacing:2px;
    font-weight: 300
    font-family: 'Montserrat', sans-serif;
}







/*----------------------Footer */

footer {
    background-color: #05030e;
    color: #fafafa;
    min-height: 120px;
    margin: 0;
}



.social-links {
    padding-left: 45%;
    padding-top: 15px;
    padding-bottom: 15px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background-color: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background-color: #2662c1;
}

#footer-details {
    padding: 20px;
}



/*------- {
    background: #000 !important;
    color: #0f0 !important;
    outline: solid #f00 1px !important;
}  

*/